@model EPiServer.Reference.Commerce.Site.Features.ProductListing.Pages.ProductListing

    <div>
        Ratio
        @Html.PropertyFor(x => x.ProductListingContent)
        <br />
        @Html.PropertyFor(x => x.Description)
        <br/>
        <br/>
    </div>
