.product-card {
  position: relative;
  margin-bottom: 20px; }
  .product-card_img {
    height: 220px;
    display: flex;
    justify-content: center;
    background-color: #fff; }
    .product-card_img img {
      width: auto;
      height: auto; }
  .product-card-tags {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    display: flex; }
    .product-card-tags .tags {
      width: 68px;
      height: 68px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 12px;
      color: #fff;
      text-transform: uppercase;
      padding: 5px;
      font-size: 13px;
      text-align: center; }
      .product-card-tags .tags.on-sale {
        background-color: var(--primary-3); }
      .product-card-tags .tags.out-stock {
        background-color: #f27e4b; }
  .product-card .price {
    position: absolute;
    bottom: 0;
    left: 12px; }
  .product-card-bottom {
    padding-left: 80px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-top: 1px solid #cccccc;
    background-color: #fff;
    position: relative; }
    .product-card-bottom .product-action {
      transform: translateY(100%);
      position: absolute;
      background-color: #fff;
      transition: transform .35s ease; }
    .product-card-bottom:hover .product-action {
      transform: translateY(0); }
  .product-card_name {
    color: var(--primary-3);
    font-size: 18px; }
