.footer-about-us {
  padding: 50px 0 30px;
  background-color: var(--primary-3);
	border-bottom: 1px solid #1c1c1c;
  &_title {
    color: #7d7d7d;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 22px;
  }

  &_desc {
    color: #a4a4a4;
    font-size: 12px;
    margin-bottom: 8px;
    font-style: italic;

    &.time {
      color: #c4c5bf;
			margin-bottom: 12px;
    }

    i {
      color: var(--primary-1);
    }
  }

	&_gallery {
		margin-bottom: 8px;
		margin-right: 8px;
		width: 76px;
		height: 56px;
		object-fit: cover;
	}
}

.footer-contact {
	padding: 20px 0;
	background-color: var(--primary-3);

	&_form,
	&_social {
		margin: 15px 0;
	}

	&_form {
		button {
			padding: 6px 15px;
			background-color: #7d7d7d;

			i {
				color: #2e2e2e;
			}
		}
	}

	&_social {
		.social {
			width: 38px;
			height: 38px;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-left: 8px;
			background-color: #2e2e2e;
			transition: all .35s ease;

			i {
				color: #7d7d7d;
				transition: all .35s ease;
			}

			&:hover {
				background-color: var(--primary-1);
				i {
					color: #fff;
				}
			}
		}
	}
}

.footer-static {
	padding: 30px 0 30px;
	background-color: #2e2e2e;
	p {
		color: #fff;
		font-size: 12px;
	}
}