@model IEnumerable<EPiServer.Reference.Commerce.Site.Features.Product.ViewModels.ProductTileViewModel>
@if (Model != null)
{
<section id="product-list" class="product-list js-product-list-container " data-more="true">
    <div class="container">
        <h2 style="margin-bottom: 15px">Search Results: </h2>
        <div class="row">
            <div class="col col-lg-6 col-md-12 col-sm-12 col-12">
                <h2 class="product-list_title">Products</h2>
            </div>
            <div class="col col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="d-flex align-items-center product-list-filter">
                    <div class="product-list-filter_view d-flex align-items-center">
                        <span>
                            View as
                        </span>
                        <span class="item-view current"><i class="fa fa-th" aria-hidden="true"></i></span>
                        <span class="list-view"><i class="fa fa-th-list" aria-hidden="true"></i></span>
                    </div>
                    <button class="btn btn-outline-primary btn-sort d-flex align-items-center degrease">
                        <span>
                            A-Z
                        </span>
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="row js-product-list">
            @foreach (var productModel in Model)
            {
                Html.RenderPartial("_ProductTile", productModel);
            }
        </div>
    </div>
</section>
}

