
@using EPiServer.Reference.Commerce.Site.Features.Navigation.Models;
@model CopyrightBlock
<div class="footer-static">
    <div class="container">
        <div class="row">
            <div class="text-center @Model.Class">
                @Model.Content
            </div>
        </div>
    </div>
</div>