@model EPiServer.Reference.Commerce.Site.Features.About.Blocks.FindUsBlock
<div class="contact_info">
    <h3>Find Us Here</h3>
    <div class="map">
        @Html.PropertyFor(m=>m.Content)
    </div>
</div>
