@using EPiServer.Reference.Commerce.Site.Features.Navigation.Models;
@model IconLinkBlock

<span class="@Model.Class"><a href="@Url.ContentUrl(Model.Url)"><i class="@Model.IconClass" aria-hidden="true"></i>@Model.Text</a></span>

