@model EPiServer.Reference.Commerce.Site.Features.Navigation.ViewModels.FooterViewModel
@{
    Layout = null;
}

@Html.PropertyFor(m => m.FooterBlock)
@*<footer id="footer" class="footer">
    <div class="footer-about-us">
        <div class="container">
            <div class="row">
                <div class="col col-lg-4 col-md-6 col-sm-12 col-12">
                    <h3 class="footer-about-us_title">Text Widget</h3>
                    <p class="footer-about-us_desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non autem repellat optio quae, deleniti similique minus at debitis inventore dolores.</p>
                </div>
                <div class="col col-lg-4 col-md-6 col-sm-12 col-12">
                    <h3 class="footer-about-us_title">Text Widget</h3>
                    <p class="footer-about-us_desc">
                        <i>@@tags</i> Lorem ipsum dolor sit amet consectetur adipisicing elit. <i>@@Tags</i>
                    </p>
                    <p class="footer-about-us_desc time">21 days ago</p>
                    <p class="footer-about-us_desc">
                        <i>@@Tags</i> Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    </p>
                    <p class="footer-about-us_desc time">21 days ago</p>
                </div>
                <div class="col col-lg-4 col-md-12 col-sm-12 col-12">
                    <h3 class="footer-about-us_title">Flickr widget</h3>
                    <div class="d-flex flex-wrap">
                        <img src="~/Static/images/gallery.jpg" alt="gallery" class="footer-about-us_gallery">
                        <img src="~/Static/images/gallery.jpg" alt="gallery" class="footer-about-us_gallery">
                        <img src="~/Static/images/gallery.jpg" alt="gallery" class="footer-about-us_gallery">
                        <img src="~/Static/images/gallery.jpg" alt="gallery" class="footer-about-us_gallery">
                        <img src="~/Static/images/gallery.jpg" alt="gallery" class="footer-about-us_gallery">
                        <img src="~/Static/images/gallery.jpg" alt="gallery" class="footer-about-us_gallery">
                        <img src="~/Static/images/gallery.jpg" alt="gallery" class="footer-about-us_gallery">
                        <img src="~/Static/images/gallery.jpg" alt="gallery" class="footer-about-us_gallery">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-contact">
        <div class="container">
            <div class="row">
                <div class="col col-lg-6 col-md-12 col-12">
                    <form action="">
                        <div class="input-group footer-contact_form w-75">
                            <input type="text" class="form-control" placeholder="Enter email for news letter" aria-label="Enter email for news letter" aria-describedby="email">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="submit">
                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col col-lg-6 col-md-12 col-12">
                    <div class="d-flex justify-content-end footer-contact_social">
                        <a href="#" class="social"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#" class="social"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="#" class="social"><i class="fa fa-google-plus" aria-hidden="true"></i></i></a>
                        <a href="#" class="social"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        <a href="#" class="social"><i class="fa fa-flickr" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-static">
        <div class="container">
            <div class="row align-items-center">
                <div class="col col-lg-6 col-md-12 col-sm-12 col-12">
                    <p>Copyright &copy; Niteco </br>Designed by Niteco</p>
                </div>
                <div class="col col-lg-6 col-md-12 col-sm-12 col-12">
                    <p class="text-right">Home / Support / Terms and Conditions / Faqs / Contact us</p>
                </div>
            </div>
        </div>
    </div>
</footer>*@