/* Shop category */
.shop-category {
	background-color: #2e2e2e;
	padding: 15px 0;

	&_title {
		font-size: 22px;
		color: #fff;
	}

	.custom-select {
		background-color: var(--primary-3);
		border-color: var(--primary-3);
		color: #fff;
		cursor: pointer;
	}

	@media screen and (max-width: 768px) {
		.custom-select {
			margin: 7px 0;
		}
	}
}