.product-detail {
    background-color: #2e2e2e;
}

.product-detail-carousel {
    padding: 50px 0 30px;
}

    .product-detail-carousel .slick-item {
        padding: 0px;
    }

    .product-detail-carousel .extra-dots-item::before {
        display: none;
    }

    .product-detail-carousel .slick-item_img {
        margin: 0 auto;
        max-height: 350px;
    }

    .product-detail-carousel .extra-dots {
        margin: 15px 0 20px;
    }

    .product-detail-carousel .extra-dots-item {
        max-width: 22%;
        margin-right: 15px;
        cursor: pointer;
        border: 4px solid var(--primary-3);
    }

        .product-detail-carousel .extra-dots-item.active {
            border-color: var(--primary-1);
        }



.product-detail-info {
    color: #fff;
    padding: 50px 0 30px;
}

    .product-detail-info .form-add-to-cart {
        margin-top: 1rem;
    }

    .product-detail-info .price {
        margin-bottom: 18px;
    }

.product-detail-info_title, .product-detail-info_desc {
    color: #fff;
    margin-bottom: 14px;
}

.product-detail-info_title {
    font-size: 40px;
}

.product-detail-info_desc {
    font-size: 20px;
}

.product-detail-info .form-add-to-cart .input-group {
    width: auto;
}

.product-detail-info .form-add-to-cart input {
    max-width: 120px;
}

.product-detail-info .form-add-to-cart .add-to-cart {
    background-color: var(--primary-1);
    border-color: var(--primary-1);
}

    .product-detail-info .form-add-to-cart .add-to-cart:hover, .product-detail-info .form-add-to-cart .add-to-cart:not(:disabled):not(.disabled):active {
        background-color: #01a26c;
        border-color: #01a26c;
    }

.product-detail-paragraph {
    padding: 35px 0;
    border-top: 1px solid #ebe7df;
}

    .product-detail-paragraph p.title {
        font-size: 22px;
        color: #fff;
        margin-bottom: 8px;
    }

    .product-detail-paragraph p.text {
        font-size: 14px;
        color: #fff;
        margin-bottom: 20px;
        font-weight: 300;
        padding-left: 60px;
    }

/* Prefer */
.prefer {
    padding-top: 40px;
    background-color: #ebe7df;
}

.prefer-title {
    color: var(--primary-3);
    margin-bottom: 16px;
}

.prefer-slick {
    margin-right: -15px;
    margin-left: -15px;
}

.prefer-carousel {
    position: relative;
}

    .prefer-carousel .slick-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: transparent;
        background-color: transparent;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        z-index: 9;
        font: normal normal normal 14px/1 FontAwesome;
        cursor: pointer;
    }

        .prefer-carousel .slick-arrow::before {
            content: '';
            position: absolute;
            width: 30px;
            height: 30px;
            top: 50%;
            transform: translateY(-50%);
            border: 1px solid var(--primary-1);
            display: flex;
            border-radius: 50%;
            align-items: center;
            background-color: var(--primary-1);
            color: #fff;
            z-index: 7;
            justify-content: center;
            font-size: 20px;
        }

    .prefer-carousel .slick-prev {
        left: 0;
    }

        .prefer-carousel .slick-prev::before {
            content: '\f104';
            left: 0;
        }

    .prefer-carousel .slick-next {
        right: 0;
    }

        .prefer-carousel .slick-next::before {
            content: '\f105';
            right: 0;
        }

.prefer .slick-item {
    padding-left: 15px;
    padding-right: 15px;
}
